<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="api" value="https://api.trello.com/1/members/me/boards"/>
		<add key="TrelloKey" value="InsertKeyHere"/>
		<add key="TrelloToken" value="Insert_Generated_Token_Here"/>
	</appSettings>
</configuration>